:root {
  --dark-color: #12161c;
}

body {
  font-family: BinancePlex-Regular, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif;
}

/* navbar */
#navbar header,
.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background-color: var(--dark-color) !important;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: transparent !important;
}