:root {
  --dark-color: #12161c;
  --yellow-color:#F1B80A ;
}

body {
  margin: 0;
  font-family: BinancePlex-Regular, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  width: 100%;
}
a{
  text-decoration: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* navbar */
nav{
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.MenuContainer {
  display: flex;
  margin: 0;
  padding: 0;
 
}

nav a {
  text-decoration: none;
  display: inline-block;
  
}
.MenuContainer a{
  padding: 1rem;
  color: #fff;
  font-weight: 500;
}
nav a:hover{
  color: #ccc;
}
.CustomBtn{
  font-size: 1rem;
    line-height: 1.5;
    background: linear-gradient(180deg,#f8d12f,#f0b90b 99.77%);
    border: none;
    color: #212833;
    padding: 0 14px;
    margin: .5rem auto 1rem;
    width: 80% !important;
    border-radius: 4px;
    
}
.CustomBtn:hover{
 
  box-shadow: none;
}

/* /navbar */
/* home-pics */
.css-zgbddb-MuiPaper-root{
  background-color:#fafafa !important ;
}
/* /home-pics */
/* home-carousel */
.swiper-container-vertical>.swiper-wrapper {
  height: 3rem !important;
  padding: 0 8px;
}
/* /home-carousel */

/* table-price */
.css-1ygcj2i-MuiTableCell-root {
    color: #848e9c !important;
    font-size: .9 !important;
}
.MuiBox-root-2 .MuiTypography-body {
  font-size: 1.2rem !important;
  
}
.css-apqrd9-MuiTableBody-root .css-34nofg-MuiTableRow-root:hover{
background-color:#fafafa !important;
}
.buy-button{
  background-color: #02c076;
  padding: .5rem 1rem;
  color: #fff;
  border-radius: 5px;
}
.css-1ex1afd-MuiTableCell-root{
  width: max-content !important;
}
.css-quj9j6-MuiTable-root {
  background: #fff;
 
  border-radius: 5px;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
  margin-top: 1rem;
  box-shadow: 0 0 40px rgb(0 0 0 / 8%) !important;
}
.view-link-container{
  background-color: #fff !important;
  justify-content: center;
  display: flex;
  padding: 1.5rem 0;
}
.view-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  color:#848e9c;
}
.view-link:hover{
  color: var(--yellow-color)
}
.view-link svg,.view-link p{
font-size: .8rem !important;
}
/* /table-price */
/* buy-crypto */
.crypto-img-container{
  width: 80px;margin-bottom: 1rem;

}
.crypto-grid-container{
  display: flex;
  align-items: center;
  flex-direction: column !important;
  margin-bottom: 2rem;
}
/* buy-crypto */

/* media-queries */
/* @media screen and (min-width:0px) {
  p{
    font-size: ;
  }
} */