:root {
  --dark-color: #12161c;
  --yellow-color: #F1B80A;
  --txt-hover-color: #ccc;
  --black-dark-color: #0b0e11;
}

body {
  margin: 0;
  font-family: BinancePlex-Regular, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  width: 100%;
  color: #212833;

}

* {
  font-family: BinancePlex-Regular, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
}

a {
  text-decoration: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button:focus {
  box-shadow: none !important;
}

/* navbar */
nav {
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: sticky !important;
  top: 0 !important;
  width: 100%;
  z-index: 1000;
}

.MenuContainer {
  display: flex;
  margin: 0;
  padding: 0;

}

nav a {
  text-decoration: none;
  display: inline-block;

}

.MenuContainer a {
  padding: .8rem;
  color: #fff;
  font-weight: 500;
  font-size: .9rem;
}

nav a:hover {
  color: var(--txt-hover-color);
}

.CustomBtn {
  font-size: 1rem;
  line-height: 1.5;
  background: linear-gradient(180deg, #f8d12f, #f0b90b 99.77%);
  border: none;
  color: #212833;
  padding: 0 14px;
  margin: .5rem auto 1rem;
  width: 80% !important;
  border-radius: 4px;

}

.CustomBtn:hover {
  box-shadow: none;
}

.logoimg {
  max-width: 140px;
}

/* /navbar */
/* home-pics */
.css-zgbddb-MuiPaper-root {
  background-color: #fafafa !important;
}

/* /home-pics */
/* home-carousel */
.swiper-container-vertical>.swiper-wrapper {
  height: 2rem !important;
}

.slider-title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .9rem !important;
  padding: 0 8px;
  color: #000;
}

.swiper-slide a {
  display: flex;
  flex-direction: row;
}

.time {
  display: inline;
  margin-left: 24px;
  font-size: .8rem;
  color: #000;
}

.swiper-slide a:hover .slider-title,
.swiper-slide a:hover .time,
.slider-more:hover {
  color: var(--yellow-color);
}

.swiper-container {
  margin: 0 !important;
}

.slider-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #848e9c;
  border-left: 1px solid #d8d8d8;
  text-align: right;
  padding-left: 25px;
  height: 20px;
  margin-left: 25px;

}

.slider-more p {
  font-size: .9rem !important;
}

/* /home-carousel */

/* table-price */
.css-1ygcj2i-MuiTableCell-root {
  color: #848e9c !important;
  font-size: .9 !important;
}

.MuiBox-root-2 .MuiTypography-body {
  font-size: 1.2rem !important;

}

.css-apqrd9-MuiTableBody-root .css-34nofg-MuiTableRow-root:hover {
  background-color: #fafafa !important;
}

.buy-button {
  background-color: #02c076;
  padding: .5rem 1rem;
  color: #fff;
  border-radius: 5px;
}

.css-quj9j6-MuiTable-root {
  background: #fff;

  border-radius: 5px;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  margin-top: 1rem;
  box-shadow: 0 0 40px rgb(0 0 0 / 8%) !important;
}

.view-link-container {
  background-color: #fff !important;
  justify-content: center;
  display: flex;
  padding: 1.5rem 0;
}

.view-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #848e9c;
}

.view-link:hover {
  color: var(--yellow-color)
}

.view-link svg,
.view-link p {
  font-size: 1rem !important;
}

.css-temxuk-MuiTableCell-root,
.css-nplnic-MuiTableCell-root {
  color: #848e9c !important;
}

.rise-gain {
  color: #02c076;
  font-size: 1.2rem !important;
}

.fall-loss {
  color: #ff0000;
  font-size: 1.2rem !important;
}

.last-price {
  font-size: 1.2rem !important;
}

/* /table-price */
/* buy-crypto */
.crypto-img-container {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;

}

.crypto-grid-container,
.inTouch-grid-container {
  display: flex;
  align-items: center;
  flex-direction: column !important;
  margin-bottom: 2rem;
  text-align: center;
  color: #212833 !important;
}

.inTouch-grid-container {
  margin: 66px 0 !important;
}

.css-1oknvro-MuiTypography-root {
  margin: 0 2rem !important;
}

/* buy-crypto */

/* FAQ */
.css-1bqtrqq-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  background-color: rgb(245, 245, 245);
  margin-bottom: 8px;

}

.css-ta84vm-MuiAccordionDetails-root .css-ahj2mt-MuiTypography-root {
  padding: 0px 40px !important;
  line-height: 24px;
  white-space: pre-wrap;
  color: #474d57;
}

.css-ta84vm-MuiAccordionDetails-root {
  border-top: none !important;
  padding-top: 0 !important;
}

.css-1gh1khd-MuiButtonBase-root-MuiAccordionSummary-root {
  background-color: inherit !important;
  padding: 20px 24px !important;
  text-align: start !important;
}

.css-1gh1khd-MuiButtonBase-root-MuiAccordionSummary-root .MuiAccordionSummary-content {
  margin-top: 0;
}

.expandIconWrapper,
.collapsIconWrapper {
  width: 30px !important;
}

/* /FAQ */
/* footer */
footer {
  background-color: var(--black-dark-color);
  color: #848e9c;
  padding: 5rem;
  position: relative;
  bottom: 0 !important;
  left: 0;
}

footer a {
  color: #848e9c;
}

footer a:hover {
  color: var(--txt-hover-color);
}

footer p {
  font-size: .9rem !important;
}

.css-1p823my-MuiListItem-root {
  padding: 2px !important;

}

.css-10hburv-MuiTypography-root {
  font-size: .9rem !important;
}

.first-footer-item span {
  color: white;
  font-size: 1.2rem !important;
  font-weight: 600;
}

.lan-menu-item {
  color: #848e9c !important;

}

.lan-menu-item:hover {
  background-color: #373737 !important;
}

.lan-menu-item:hover {
  color: var(--yellow-color) !important;
}

.footer-last-list li {
  margin-bottom: .8rem;
}

.footer-last-list li:last-of-type {
  margin-top: 3rem;
  margin-bottom: 0;
}

.footer-lan-btn {
  border-color: #848e9c !important;
  padding: .4rem 2rem .4rem 1rem !important;
  border: 1px solid #48515d !important;
  position: relative;
}

.footer-lan-btn:hover {
  border-color: #848e9c !important;
}

.footer-lan-btn:after {
  position: absolute;
  content: "";
  top: 16px;
  right: 15px;
  border: 5px solid transparent;
  border-top-color: #fff;
  transition: transform .3s;
  transform-origin: 5px 2.5px;
}

.footer-last-list li:last-of-type:hover .footer-lan-btn:after {
  transform: rotate(180deg);
  transform: .3s;

}

.footer-copyRight {
  border-top: 1px solid #212833;
  color: #848e9c;
  padding: 24px;
  text-align: center;
  background-color: var(--black-dark-color);

}

.footer-copyRight p {
  font-size: .8rem !important;
}

.home-up-footer {
  background-color: var(--black-dark-color);
  padding: 3rem 5rem 1rem;
  text-align: center;
}

.home-footer-btn {
  display: block;
  border-radius: 4px;
  font-weight: 700;
  min-width: 100px;

  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
}

.home-footer-btn:first-of-type {
  background-image: linear-gradient(180deg, #f8d12f, #f0b90b 99.77%);
  color: #212833;
}

.home-footer-btn:last-of-type {
  border: 1px solid #f8d12f;
  color: #f0b90b;
  margin-left: 24px;
}

.css-cveggr-MuiListItemIcon-root {
  min-width: 25% !important;
}

.footer-googleplay {
  width: 180px;
}

.css-pujgjf-MuiGrid-root {
  margin-bottom: 3rem;
}

.social-icons {
  color: #848e9c;
}

.social-icons:hover {
  color: var(--txt-hover-color);
}

/* /footer */
/* sign-in */
.form-container {
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgb(196 202 214 / 29%);
  border-radius: 6px;
  padding: 48px 18px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 7rem;
  width: 90%;
}

.sign-btn {
  background: linear-gradient(180deg, #f8d12f, #f0b90b 99.77%) !important;
  color: #212833 !important;
  text-transform: none !important;
  font-weight: 600 !important;
  padding: 11px 14px !important;
  box-shadow: none !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before,
.MuiInput-underline:before {
  border-bottom: 1px solid #e6e6e6 !important;
}

.MuiFormLabel-root {
  font-size: .9rem !important;
  color: #9c9c9c !important;
  font-weight: 500 !important;
}

.MuiFormLabel-root.Mui-focused {
  color: var(--yellow-color) !important;
  font-size: 1rem !important;
}

.MuiInputLabel-shrink {
  transform: scale(.9) !important;
}

.MuiInput-underline:after {
  border-bottom: 1px solid var(--yellow-color) !important;
}

/* /sign-in */
/* register */
.error {
  color: red;
  font-size: .8rem;
  display: block;
  text-align: start;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  text-align: center;
  margin: 0 auto;
  padding: 1.5rem 0;
  overflow: hidden;
}

.register-container .css-a88p61-MuiInputBase-root-MuiInput-root:after,
.register-container .MuiInput-underline:before,
.register-input:hover,
.MuiInput-underline:hover:not(.Mui-disabled):before {
  border: none !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  padding: 6px 0 6px !important;
}

.register-input {
  border: none !important;
  outline: none;
  background-color: #f5f5f5 !important;
  padding: 0 8px;
  margin-bottom: .5rem;
}

.RedInput {
  border: 1px solid red !important;
  outline: none;
  background-color: #f5f5f5 !important;
  padding: 0 8px;
  margin-bottom: .5rem;
}

.css-t621ox-MuiPaper-root {
  padding: 0 1rem !important;
}



.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  font-size: .8rem !important;
  background-color: #f5f5f5 !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px !important;
  padding-right: 2rem !important;

}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-radius: 0 !important;
  border: none !important;
}

.css-qvfsa8-MuiGrid-root,
.css-1qcud21-MuiGrid-root {
  margin-bottom: 0 !important;
}

.css-14el2xx-placeholder {
  text-align: left;
}

.css-tlfecz-indicatorContainer {
  padding: 0 !important;
}

.css-1gtu0rj-indicatorContainer {
  padding: 0 !important;
  transform: rotate(180deg) !important;
  transition: .1s !important;
}

.registerSubmit {
  background: linear-gradient(180deg, #f8d12f, #f0b90b 99.77%);
  border: none;
  color: #212833;
  padding: 11px 14px;
  border-radius: 6px;
  margin: 1rem auto 1rem !important;
  font-weight: 500 !important;
  width: 336px;
  text-transform: unset !important;
  color: #000 !important;
}
.alreadyLink{
  color: var(--yellow-color) !important;
  font-size: .85rem !important;
  font-weight: 500 !important;
}

/* /register */
/* forget-pass */
.MuiInput-underline:hover:not(.Mui-disabled):before{
  border-bottom: 1px solid #e6e6e6 !important;
}

/* media-queries */
@media screen and (max-width:600px) {

  /* navbar */
  .logoimg {
    width: 150px;
  }

  /* /navbar */
  /* trade-now  */
  .css-nnsfc0-MuiTypography-root,
  .css-ahj2mt-MuiTypography-root {
    font-size: .9rem !important;
  }

  /* /trade-now  */
  /* buy-crypto */
  .css-rwiywt-MuiTypography-root,
  .css-14gkebf-MuiTypography-root {
    font-size: 1.5rem !important;

  }

  /* /buy-crypto */

  /* footer  */
  .home-footer-btn {
    min-width: unset;
    width: 80px;
    font-size: .8rem;
    padding: 5px .8rem;
  }

  .home-footer-btn:last-of-type {
    margin-left: 10px;
  }

  footer {
    padding: 6rem 3rem;

  }

  .home-up-footer {
    padding: 3rem 3rem 0;
  }

  .footer-googleplay {
    width: 120px;
  }

  /* /footer  */
  /* register  */
  .register-container {
    width: 90%;
  }

  .registerSubmit {
    width: 100%;
  }

  /* /register  */

}

@media screen and (max-width:300px) {
  /* navbar */

  .logoimg {
    width: 100px;
  }

  /* /navbar */

}