:root {
  --dark-color: #12161c;
}

body {
  margin: 0;
  font-family: BinancePlex-Regular, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  width: 100%;
}
a{
  text-decoration: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* navbar */
nav{
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.MenuContainer {
  display: flex;
  margin: 0;
  padding: 0;
 
}

nav a {
  text-decoration: none;
  display: inline-block;
  
}
.MenuContainer a{
  padding: 1rem;
  color: #fff;
  font-weight: 500;
}
nav a:hover{
  color: #ccc;
}
.CustomBtn{
  font-size: 1rem;
    line-height: 1.5;
    background: linear-gradient(180deg,#f8d12f,#f0b90b 99.77%);
    border: none;
    color: #212833;
    padding: 0 14px;
    margin: .5rem auto 1rem;
    width: 80% !important;
    border-radius: 4px;
    
}
.CustomBtn:hover{
 
  box-shadow: none;
}

/* /navbar */
/* media-queries */
/* @media screen and (min-width:0px) {
  p{
    font-size: ;
  }
} */